header.header
  .wrapper
    h1 Gulp-builder from Protoff ))
    p
      | Привет из хэдера! <br>
      | С моим сборщиком работать просто и приятно ))
    .icons
      +icon('icons8-html-5')
      +icon('telegram-logo')
